body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: #4caf50;
    color: white;
    padding: 10px 0;
}
nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}
.container {
    padding: 20px;
}
footer {
    background-color: #4caf50;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
